.container {
    height: 750px;
    width: 100%;
    background-image: url(" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy9Q3YbC4YvTqImiNCQtR9pGW7obS83HIEFw&usqp=CAU");
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: sans-serif;
}

img {
    height: 60px;
    width: 60px;
    margin-top: 380px;
    margin-left: 350px;
}

.item1 {
    padding: auto;
}


/* .form {
    border: 2px solid wheat;
    background-color: white;
    height: auto;
    width: 500px;
    border-radius: 5px;
    padding: 10px;
}

/* .rows {
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 0px 15px; */

.item2 {
    margin: auto;
}

.form {
    height: 600px;
    width: 500px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border-radius: 7px;
    background-color: white;
    color: black;
    padding: 25px;
}

input {
    width: 200px;
    height: 20px;
}

.row1 {
    grid-column: 1 / span 4;
}

.row2 {
    grid-column: 1 / span 4;
}

.row3 {
    grid-column: 1/span 2;
    column-gap: 10px;
}

.row4 {
    grid-column: 3/span 2;
}

.row5 {
    grid-column: 1/span 4;
}

.row6 {
    grid-column: 1/span 1;
}

.row7 {
    grid-column: 2/span 1;
}

.row8 {
    grid-column: 3/span 1;
}

.row9 {
    grid-column: 1/span 4;
}

.row10 {
    grid-column: 1/span 4;
    text-align: center;
}

.btn {
    border-radius: 5px;
    background-color: rgb(38, 45, 245);
    color: white;
    padding: 10px 20px;
}